version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.12.0
        environment:
          - MOCHA_OPTS: --reporter mocha-junit-reporter --reporter-options mochaFile=./reports/junit/mocha/mocha.xml
    steps:
      - checkout
      - run:
          name: Setup CI Environment
          command: |
            sudo apt-get update && sudo apt-get install -y build-essential libbluetooth-dev
            git submodule update --init
            ci_scripts/ci_tool.sh --setup_npm
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Npm Install
          command: npm install
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
              - ./node_modules
      - run:
          name: Test
          command: npm test
      - run:
          name: coverage
          command: npm run coverage
      - store_artifacts:
          path: coverage
          prefix: coverage
      - store_artifacts:
          path: reports/junit/
          prefix: reports/junit/
      - store_test_results:
          path: reports/junit/
      - run:
          name: Run release
          command: ci_scripts/ci_tool.sh --run_release
      - run:
          name: Npm Publish
          command: npm publish
